html {
    background-color: #2a323d;
    color: #fff;
    font-family: sans-serif;
    font-size: 20px;
    height: calc( 100% - 10px );
}

body {
    background: transparent;
    height: 100%;
    margin: 0;
    padding: 0;
}

.tabs {
    margin-bottom: 8px;
    white-space: nowrap;
    overflow-x: auto;
}

.tabs label {
    text-align: center;
    color: #54647a;
}

.tabs .tab {
    height: 0;
    margin: 0;
    padding: 0;
	visibility: hidden;	
    width: 0;
}

.tabs .tab-label {
	cursor: pointer;
    flex-grow: 1;
    line-height: 48px;
	text-transform: uppercase;
    padding: 0 1em;
}

.tabs .tab:checked + .tab-label {
	border-bottom: solid 2px #fff;
}

.tabs-content {
    position: absolute;
    height: 420px;
    top: 80px;
    bottom: 0;
    left: 0;
    right: 0;
    white-space: normal;
    overflow-y: auto;
}

.tabs-content > div {
	display: none;
	position: absolute;
	width: 100%;
	z-index: -100;
}

#puppet:checked ~ .tabs-content #puppet-content,
#editor:checked ~ .tabs-content #editor-content,
#layers:checked ~ .tabs-content #layers-content,
#assets:checked ~ .tabs-content #assets-content,
#project:checked ~ .tabs-content #project-content,
#debugging:checked ~ .tabs-content #debugging-content {
	display: block;
	z-index: 100;
}
