.flexlayout-container {
    left: 4px;
    top: 4px;
    right: 6px;
    bottom: 4px;
    position: absolute;
    overflow: hidden;
}

.panel {
    padding: 8px;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
}

.full-panel {
    margin-left: -8px;
    margin-right: -8px;
    height: 100%;
}
