/* Light */
@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 300;
    src: local('Roboto Light'), local('Roboto-Light'), url("./roboto/Roboto-Light.ttf") format('truetype');
}

/* Normal */
@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    src: local('Roboto Regular'), local('Roboto-Regular'), url("./roboto/Roboto-Regular.ttf") format('truetype');
}

/* Bold */
@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    src: local('Roboto Bold'), local('Roboto-Bold'), url("./roboto/Roboto-Bold.ttf") format('truetype');
}

:root {
    --foreground: #b4bdcb;
    --background: #242a33;
    --far-background: #111924;
    --raised: #2a323d;
    --highlight: #333c4a;
    --focus: #a3c9ef;
    --inactive: #697a96;
    --disabled: #808080;
    --warning: #71262f;
}

html {
    background-color: var(--far-background);
    color: var(--foreground);
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Symbola";
    height: calc( 100% - 10px );
    user-select: none;
}

body {
    background: transparent;
    height: 100%;
    margin: 0;
    padding: 0;
}

a {
    color:var(--foreground);
    cursor: pointer;
    text-decoration: none;
}

a:focus {
    outline: none;
}

input, .checkbox-label {
    margin-bottom: 8px;
    margin-top: 8px;
    font-size: 16px;
}

input[type="text"], input[type="password"], input[type="number"], input[type="search"], select {
    background: none;
    border: none;
    border-bottom: solid 2px var(--inactive);
    color: var(--foreground);
    transition: border 0.3s;
    width: 100%;
}

input[type="text"]:focus, input[type="password"]:focus, input[type="number"]:focus, input[type="search"]:focus, select:focus {
    border-bottom: solid 2px var(--foreground);
    outline: none;
}

input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
    height: 10px;
    width: 10px;
    margin-bottom: 3px;
    padding: 1px;
    background: -webkit-linear-gradient(-45deg, transparent 0%, transparent 45%, var(--foreground) 45%,  var(--foreground) 56%,transparent 55%, transparent 100%), -webkit-linear-gradient(45deg, transparent 0%, transparent 45%, var(--foreground) 45%,  var(--foreground) 56%,transparent 56%, transparent 100%);
    cursor: pointer;
}

input[type="range"] {
    appearance: none;
    height: 4px;
    background: var(--far-background);
    outline: none;
    border-radius: 4px;
    min-width: 40px;
}

input[type="range"]::-webkit-slider-thumb {
    appearance: none;
    width: 12px;
    height: 12px;
    cursor: pointer;
    background: var(--background);
    border: solid 2px var(--far-background);
    border-radius: 50%;
}

input[type="range"]::-webkit-slider-thumb:hover {
    background: var(--highlight);
}

input[type="color"] {
    -webkit-appearance: none;
    border: solid 2px var(--inactive);
    outline: none;
    padding: 0;
}

input[type="color"]:focus {
    border-color: var(--foreground);
}

input[type="color"]:disabled {
    border-color: var(--disabled);
}

input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0;
}

input[type="color"]::-webkit-color-swatch {
    border: none;
}

button {
    background: none;
    border: none;
    color: var(--foreground);
    cursor: pointer;
    font-size: 16px;
    margin: 10px;
    text-align: left;
    transition: background-color .1s ease-in;
    border-radius: 10px;
}

button:focus {
    color: var(--focus);
    outline: none;
}

button:hover {
    background-color: rgba(255,255,255,.05);
}

select option {
    color: #000;
}

button:disabled, select:disabled, input:disabled {
    color: var(--disabled);
}

h4 {
    border-bottom: solid var(--foreground);
    text-align: center;
    width: 50%;
    margin: .25em auto .5em auto;
}

textarea {    
    font-family: sans-serif;
    font-size: 16px;
    resize: none;
    background: none;
    border: none;
    border-bottom: solid 2px #969696;
    color: var(--foreground);
    transition: border 0.3s;
}

textarea:focus {
    border-bottom: solid 2px #c9c9c9;
    outline: none;
}

img {
    position: relative;
    overflow: hidden;
    background-color: var(--background);
}

img:after {
    background-color: inherit;
    display: block;
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
}

.flex-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.floating-button {
    margin: 0;
    padding: 0 10px;
    margin-left: auto;
    margin-right: 10px;
}

.fillbutton {
    flex-grow: 1;
    text-align: center;
}

.list-item {
    border: 3px solid var(--highlight);
    overflow: hidden;
}

.line-item {
    border-bottom: solid 1px var(--inactive);
    padding: 4px 8px;
    cursor: pointer;
    width: 100%;
    box-sizing: border-box;
}

.line-item:hover {
    background-color: var(--raised);
}

.flex-column {
    display: flex;
    align-content: space-between;
    justify-content: space-between;
    flex-direction: column;
    margin-top: -2px;
    margin-bottom: -2px;
}

.flex-row {
    display: flex;
    align-content: space-between;
    justify-content: space-between;
    margin-left: -2px;
    margin-right: -2px;
}

.flex-column > div, .flex-row > div {
    flex: 1;
}

.flex-column > div {
    margin: 2px 0;
}

.flex-column > div.flex-row {
    margin: 2px -2px;
    height: 0;
}

.flex-row > div {
    margin: 0 2px;
}

.flex-row > div.flex-column {
    margin: -2px 2px;
}

.flex-column > .flex-spacer, .flex-row > .flex-spacer {
    flex: 0 1 auto;
    width: 10px;
}

.flex-column > .flex-item, .flex-row > .flex-item {
    flex: 0 1 auto;
    color: var(--inactive);
}

.controller-container .flex-row {
    overflow: hidden;
}

.empty {
    color: var(--disabled);
    padding: 8px 12px;
    text-align: center;
    box-sizing: border-box;
    font-size: small;
}

::-webkit-scrollbar {
    height: 28px;
    width: 14px;
}

::-webkit-scrollbar-thumb {
    border: 8px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
    -webkit-border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.6);
}

.fillParent {
    width: 100%;
    height: 100%;
}
