.editor {
    cursor: move;
}

.editor > canvas {
    margin: -8px;
    margin-top: 0;
    user-select: none;
}

.editor > .changed-warning {
    border: solid transparent;
    transition: border-color .1s ease-in;
    pointer-events: none;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
}

.editor.changed > .changed-warning {
    border-color: var(--warning);
}

.editor.changed .bar button:first-child {
    background-color: var(--warning);
}
