.editor > canvas {
    margin: -8px;
    margin-top: 0;
    user-select: none;
}

.editor.changed {
    border: solid red;
}

.editor.changed .bar button {
    background-color: red;
    border-top: solid red 1px;
    margin-top: -1px;
}

.editor.changed .bar {
    margin-top: -11px;
    margin-left: -13px;
    margin-right: -13px;
}

.editor.changed canvas {
    margin: -11px;
    margin-top: 0;
}
