.inspector {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.inspector .checkbox-label {
    margin-bottom: 16px;
}

.inspector h3 {
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    flex-shrink: 0;
    user-select: initial;
}

.inspector hr {
    width: 100%;
    flex-shrink: 0;
}

.inspector .inspector-content {
    flex-grow: 1;
    flex-shrink: 1;
    overflow-y: hidden;
    height: 100%;
    margin-left: -8px;
    margin-right: -8px;
}

.inspector .content-wrapper {
    padding-left: 8px;
    padding-right: 8px;
}
