.shortcut {
    display: flex;
}

.shortcut input[type="text"] {
    color: transparent;
    text-shadow: 0 0 0 var(--foreground);
    cursor: pointer;
}

.shortcut input[type="text"]::placeholder {
    color: transparent;
    text-shadow: 0 0 0 var(--inactive);
}

.action .shortcut button {
    width: unset;
    margin: auto;
}
