/* vietnamese */
@font-face {
  font-family: 'Pacifico';
  font-style: normal;
  font-weight: 400;
  src: local('Pacifico Regular'), local('Pacifico-Regular'), url(./fonts/m0Shgsxo4xCSzZHO6RHWxBTbgVql8nDJpwnrE27mub0.woff2) format('woff2');
  unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Pacifico';
  font-style: normal;
  font-weight: 400;
  src: local('Pacifico Regular'), local('Pacifico-Regular'), url(./fonts/6RfRbOG3yn4TnWVTc898ERTbgVql8nDJpwnrE27mub0.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Pacifico';
  font-style: normal;
  font-weight: 400;
  src: local('Pacifico Regular'), local('Pacifico-Regular'), url(./fonts/Q_Z9mv4hySLTMoMjnk_rCfesZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

@keyframes slideInFromBottom {
    0% { transform: translateY(100%); }
    100% { transform: translateY(0); }
}

@keyframes unsqueeze {
    0% { transform: scaleX(0); }
    100% { transform: scaleX(1); }
}

@keyframes fadeIn {
    0% {
        transform: translateY(-50%);
        opacity: 0;
    }
    100% {
        transform: translate(0);
        opacity: 1;
    }
}

.welcome {
    font-size: 20px;
    background-color: var(--background);
    color: #54647a;
    width: 100%;
    min-height: calc(100% - 20px);
    position: absolute;
    padding-bottom: 20px;
}

body::-webkit-scrollbar,
.root::-webkit-scrollbar,
.App::-webkit-scrollbar,
.welcome::-webkit-scrollbar {
    width: 0px;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}

.container {
    width: 50%;
    margin: auto;
    position: relative;
}

.title-wrapper {
    display: flex;
    overflow: hidden;
    justify-content: space-between;
}

.welcome .title {
    padding-top: 5%;
    transition: transform 1s;
    display: inline-block;
    color: #15191f;
    text-shadow: 0 1px 1px #666;
    font-family: 'Pacifico', cursive;
    font-size: 7vw;
    line-height: 9vw;
    transform: translateY(100%);
    animation: .5s ease-out .5s 1 slideInFromBottom;
    animation-fill-mode:forwards;
}

.welcome .title::first-letter {
    font-size: 12vw;
}

.welcome .action {
    border: none;
    margin: 0;
}

.splash {
    width: 100%;
    background: #15191f;
    z-index: 10;
    position: relative;
    animation: .5s ease-out 0s 1 unsqueeze;
    text-align: center;
}

.splash-text {
    font-size: 24px;
    color: var(--highlight);
    font-family: 'Pacifico', cursive;
    padding: 6px 0;
}

.section-title {
    color: #15191f;
    font-size: 32px;
    margin-top: 30px;
}

.open-project,
.new-project,
.console:not(.panel) {
    animation: .5s ease-out 0s 1 fadeIn;
    opacity: 0;
    animation-fill-mode:forwards;
}

.open-project {
    animation-delay: .75s;
}

.new-project {
    animation-delay: 1.25s;
}

.console:not(.panel) {
    animation-delay: 1.75s;
}

.console:not(.panel) .console {
    border: solid 1px var(--far-background);
    border-top: none;
    border-bottom: none;
    padding-bottom: 0;
}

.console:not(.panel) .rcs-inner-container > div > :last-child {
    border-bottom: solid 1px var(--far-background);
}

.new-project .field button {
    width: unset;
    margin-bottom: 0;
}

.recent-projects {
    height: 160px;
    display: flex;
}

.recent-project {
    background-color: var(--background);
    background-position: bottom;
    color: var(--foreground);
    cursor: pointer;
    height: calc( 100% - 16px );
    margin: 4px;
    padding: 2px;
    position: relative;
    width: calc( 33% - 16px);
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
    border: 3px solid var(--highlight);
}

.recent-project img {
    object-fit: contain;
    width: calc(100% - 4px);
    box-sizing: border-box;
    margin: auto 4px;
}

.version {
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: var(--foreground);
}
