.checkbox {
    opacity: 0;
    position: absolute;
}

.checkbox, .checkbox-label {
    cursor: pointer;
    display: inline-block;
    margin: 5px;
    vertical-align: middle;
}

.checkbox-label {
    font-family: sans-serif;
    line-height: 28px;
    position: relative;
    white-space: nowrap;
    color: white;
}

.checkbox + .checkbox-label:before {
    background: #242a33;
    border: 4px solid #333c4a;
    content: '';
    display: inline-block;
    height: 20px;
    margin-right: 10px;
    padding: 2px;
    text-align: center;
    vertical-align: middle;
    width: 20px;
}

.checkbox:checked + .checkbox-label:before {
    background: #333c4a;
    box-shadow: inset 0 0 0 4px #242a33;
}

.checkbox:disabled + .checkbox-label:before {
    border-color: #3b3d41;
}

.checkbox:checked:disabled + .checkbox-label:before {   
    background: #3b3d41;
}

.checkbox:focus + .checkbox-label, .checkbox:active + .checkbox-label {
    color: #a3c9ef;
    outline: none;
}
