.checkbox {
    opacity: 0;
    position: absolute;
}

.checkbox, .checkbox-label {
    cursor: pointer;
    display: inline-block;
    margin: 5px;
    vertical-align: middle;
}

.checkbox-label {
    font-family: sans-serif;
    line-height: 28px;
    position: relative;
    white-space: nowrap;
    color: var(--foreground);
}

.checkbox + .checkbox-label:before {
    background: var(--background);
    border: 4px solid var(--highlight);
    content: '';
    display: inline-block;
    height: 20px;
    margin-right: 10px;
    padding: 2px;
    text-align: center;
    vertical-align: middle;
    width: 20px;
}

.checkbox:checked + .checkbox-label:before {
    background: var(--highlight);
    box-shadow: inset 0 0 0 4px var(--background);
}

.checkbox:disabled + .checkbox-label:before {
    border-color: #404040;
}

.checkbox:checked:disabled + .checkbox-label:before {   
    background: #404040;
}

.checkbox:focus + .checkbox-label, .checkbox:active + .checkbox-label {
    color: var(--focus);
    outline: none;
}
