.vector.field input[type="number"] {
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-top: 12px;
    height: 100%;
}

.vector.field .field-label {
    margin-top: 12px;
    padding-right: 8px;
    padding-left: 8px;
}
