.folder-list {
    width: calc(25% - 5px);
    height: 100%;
    display: inline-flex;
    min-height: 100%;
    margin-right: 4px;
    vertical-align: top;
    overflow-x: hidden;
    word-break: break-all;
}

.folder-list-item {
    padding-top: 4px;
    border: dashed #333c4a 1px;
    cursor: pointer;
    margin-bottom: 4px;
}

.assets .folder-list .rcs-custom-scroll {
    width: 100%;
}

.new-folder-button {
    display: block;
    border: solid #333c4a 1px;
    margin: 8px auto;
}
