.asset-importer {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.asset-importer .small.list .list-item .char .inner-line-item {
    margin: 0;
    background-color: unset;
    line-height: 20px;
    margin-left: 4px;
}

.asset-importer .list-item .char .desc {
    height: unset;
}

.asset-importer .char {
    padding: 0;
}

.asset-importer .folder-list-item {
    margin: 4px;
    margin-right: 15px;
}

.asset-importer .header-wrapper .inner-line-item {
    flex: 1;
    padding: 0 2px;
}

.asset-importer .toggle-button {
    padding: 0 3px;
    padding-top: 3px;
    margin: 2px;
    margin-top: -2px;
    margin-left: auto;
    border: solid var(--highlight) 3px;
    display: flex;
    align-items: center;
    width: 12px;
    height: 12px;
}
