.foldable {
    position: relative;
}

.foldable:before {
    content: "\25B6";
    position: absolute;
    left: 4px;
    top: 2px;
    display: block;
    transition: transform 300ms;
}

.foldable.open:before {
    transform: rotateZ(90deg);
}

.foldable h4 {
    text-align: left;
    width: 100%;
    box-sizing: border-box;
    padding-left: 24px;
    padding-right: 24px;
    border-bottom: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 4px;
    padding-bottom: 8px;
}

.subtitle {
    display: inline;
    font-size: 12px;
    padding-left: 4px;
    color: lightslategrey;
    text-transform: uppercase;
}
