.importer .foldable:before {
    top: 9px;
    left: 12px;
}

.importer .flex-row {
    line-height: 32px;
}

.importer .checkbox-label {
    margin: 0;
}

.importer .flex-row > .flex-grow {
    border: none;
}

.importer .foldable h4 {
    padding: 4px 24px;
    padding-left: 36px;
    border-top: 1px solid var(--foreground);
    border-bottom: 1px solid var(--inactive);
    margin-top: -1px;
}
