.list {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-bottom: 8px;
}

.list-item {
    margin: 5px;
    flex: 0 0 auto;
}

/*  Used to make the last line left-align
    We spawn one for each child, so that
    no matter how many we have in one row,
    it'll have a left-aligned last row,
    assuming same-width children (which we
    achieve through flex-basis)             */
.list-pad {
    height: 0;
    flex: 0 0 auto;
    margin: 0 5px;
}

.list-item .char {
    flex-direction: column-reverse;
}

.list-item .char div:not(.selected) {
    background-color: #333c4a;
    color: #fff;
    font-size: 12px;
    overflow: hidden;
    pointer-events: none;
    text-align: center;
    word-wrap: break-word;
    flex: 0 0 auto;
    margin: -2px;
    margin-bottom: 4px;
}

.list-item img {
    flex-basis: 100%;
    height: 0;
}

.puppet-selector .list-item img {
    height: unset;
}
