.tabs-content {
    text-align: left;
}

.tabs {
  display: flex;
  flex-flow: row wrap;
  margin-bottom: 8px;
}

.tabs .tab-label {
    cursor: pointer;
    flex-grow: 1;
    line-height: 48px;
    text-transform: uppercase;
}

.tabs .tab-label.open {
    border-bottom: solid 2px #fff;
}

.tabs .tabs-content {
    width: 100%;
}

.tabs .tabs-content > div {
    opacity: 0;
    padding: 1.5em 0;
    position: absolute;
    width: 100%;
    z-index: -100;
}

.tabs .tabs-content > .open-tab-content {
    opacity: 1;
    z-index: 10;
}
